body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1em;
    letter-spacing: .5em;
    word-break: break-all;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: bottom;
    display: block;
}



/* 全体 */
.wrapper {
    background-color: #fff;
}


/* ヘッダー */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.header .logo {
    display: block;
}

.header .logo-name {
    display: block;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 32px;
    line-height: 1em;
    text-align: center;
    color: #757575;
    margin-bottom: 5px;
}

.header .logo-title {
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 88px;
    font-weight: normal;
    color: #f39ac7;
    line-height: 1em;
    letter-spacing: .1em;
}

.header .logo-desc {
    display: block;
    font-size: 14px;
    letter-spacing: .2em;
    text-align: center;
    margin-top: 10px;
}

/* グローバルナビ */
.gnav {
    padding: 10px;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    z-index: 100;
}

.gnav .gnav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gnav .gnav-item {
    padding: 0 5em;
}

.gnav .gnav-item a {
    font-size: 16px;
    color: darkblue;
    letter-spacing: .8em;
}

.gnav.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px gray;
}


/* section */
.section .l-inner {
    padding: 80px 10px;
}

.section .section-title-block {
    text-align: center;
    margin-bottom: 30px;
}

.section .section-title {
    font-family: 'Shadows Into Light', cursive, sans-serif;
    letter-spacing: .2em;
    display: inline-block;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    color: #f39ac7;
}

.section .section-desc {
    text-align: center;
}

.two-column-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.two-column-image {
    width: 30%;
}

.two-column-image img {
    margin: 0 auto;
}

.two-column-desc {
    width: 62%;
}


/* feature */
.feature-section .two-column-image {
    width: 48%;
}

.feature-section .two-column-desc {
    width: 48%;
}


/* works */
.works-section .card-item {
        width: 32%;
}

.works-section .card-item {
    margin: 0 5px;
    margin-bottom: 50px;
}

.works-section .card-image {
    display: block;
    margin-bottom: 8px;
}


.works-section .card-caption-title {
    font-size: 13px;
    font-weight: bold;
}


.works-section .card-list {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

