body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1em;
    letter-spacing: .5em;
    word-break: break-all;
}

a {
    text-decoration: none;
}

ul,
li {
  list-style: none;
}



/* 全体 */
.wrapper {
    background-color: #fff;
}


/* ヘッダー */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.header .logo {
    display: block;
}

.header .logo-name {
    display: block;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 32px;
    line-height: 1em;
    text-align: center;
    color: #757575;
    margin-bottom: 5px;
}

.header .logo-title {
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 88px;
    font-weight: normal;
    color: #f39ac7;
    line-height: 1em;
    letter-spacing: .1em;
}

.header .logo-desc {
    display: block;
    font-size: 14px;
    letter-spacing: .2em;
    text-align: center;
    margin-top: 10px;
}

/* グローバルナビ */
.gnav {
    padding: 10px;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    z-index: 100;
}

.gnav .gnav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gnav .gnav-item {
    padding: 0 5em;
}

.gnav .gnav-item a {
    font-size: 16px;
    color: darkblue;
    letter-spacing: .8em;
}

.gnav.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px gray;
}







