html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1em;
    letter-spacing: .5em;
    word-break: break-all;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: bottom;
    display: block;
}



/* 全体 */
.wrapper {
    background-color: #fff;
}

.l-inner {
    width: 100%;
    margin: auto;
    padding: 0 10px;
}

.contents {
    padding: 100px 0;
}


/* ヘッダー */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.header .logo {
    display: block;
}

.header .logo-name {
    display: block;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 32px;
    line-height: 1em;
    text-align: center;
    color: #757575;
    margin-bottom: 5px;
}

.header .logo-title {
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 88px;
    font-weight: normal;
    color: #f39ac7;
    line-height: 1em;
    letter-spacing: .1em;
}

.header .logo-desc {
    display: block;
    font-size: 14px;
    letter-spacing: .2em;
    text-align: center;
    margin-top: 10px;
}

/* グローバルナビ */
.gnav {
    padding: 10px;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    z-index: 100;
}

.gnav .gnav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gnav .gnav-item {
    padding: 0 5em;
}

.gnav .gnav-item a {
    font-size: 16px;
    color: darkblue;
    letter-spacing: .8em;
}

.gnav.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px gray;
}


/* section */
.section .l-inner {
    padding: 80px 10px;
}

.section .section-title-block {
    text-align: center;
    margin-bottom: 30px;
}

.section .section-title {
    font-family: 'Shadows Into Light', cursive, sans-serif;
    letter-spacing: .2em;
    display: inline-block;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    color: #f39ac7;
}

.section .section-desc {
    text-align: center;
}

.two-column-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.two-column-image {
    width: 30%;
}

.two-column-image img {
    margin: 0 auto;
}

.two-column-desc {
    width: 62%;
}


/* feature */
.feature-section .two-column-image {
    width: 48%;
}

.feature-section .two-column-desc {
    width: 48%;
}


/* works */
.works-section .card-item {
        width: 32%;
}

.works-section .card-item {
    margin: 0 5px;
    margin-bottom: 50px;
}

.works-section .card-image {
    display: block;
    margin-bottom: 8px;
}


.works-section .card-caption-title {
    font-size: 13px;
    font-weight: bold;
}


.works-section .card-list {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* about */
.about-section .two-column-image {
    width: 33%;
}

.about-section .two-column-desc {
    width: 62%;
}

.two-column-image img {
    width: 60%;
    height: 140%;
    object-fit: cover;
    border-radius: 50%;
}


/* skill */
.skill-section .card-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-section .card-item {
    flex-basis: 46%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-section .skill-icon {
    flex-basis: 20%;
}

.skill-section .skill-icon img {
    width: 100%;
}

.skill-section .skill-desc {
    flex-basis: 70%;
}


/* contacts */
.contacts .form {
    padding: 20px 0;
}

.contacts .form form {
    margin: auto;
}


.contacts .form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
}

.btn {
    width: 100%;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #f39ac7;
    border: solid 2px #f39ac7;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn:hover {
    background: #f39ac7;
    color: white;
  }



  .cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}



/* footer */
.footer {
    background-color: #333;
}

.footer .l-inner {
    padding: 30px;
}

.footer .copyright {
    font-size: 10px;
    color: #8c8c8c;
    text-align: center;
}

.page-top {
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #ffe8f4;
}

.page-top a {
    color: #333;
}